body{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.neptuneParent,.uranusParent,.saturnParent,.jupiterParent,.marsParent,.earthParent,.venusParent,.mercuryParent{
  position: relative;
  animation: revolve 35s linear infinite;
}

.uranusParent{
  animation: revolve 40s linear infinite;
}

.saturnParent{
  animation: revolve 45s linear infinite;
}

.jupiterParent{
  animation: revolve 50s linear infinite;
}

.marsParent{
  animation: revolve 55s linear infinite;
}

.earthParent{
  animation: revolve 60s linear infinite;
}

.venusParent{
  animation: revolve 65s linear infinite;
}

.mercuryParent{
  animation: revolve 70s linear infinite;
}


.neptuneParent::before{
  content:"";
  width: 8%;
  height: 8%;
  position: absolute;
  top:-4%; 
  right:41%;
  background-color: rgb(0, 255, 255);
  border-radius:50%;
  background-image:url("./images/neptune.jpeg");
  background-size:contain;
}

.uranusParent::before{
  content:"";
  width: 15%;
  height: 15%;
  position: absolute; 
  left:-9%;
  top:34%;
  background-color: rgb(0, 255, 255);
  border-radius:50%;
  background-image:url("./images/uranus.webp");
  background-size:cover;
}

.saturnParent::before{
  content:"";
  width: 20%;
  height: 20%;
  right:36%;
  position: absolute; 
  right:28%;
  top:-8%;
  background-color: rgb(0, 255, 255);
  border-radius:50%;
  background-image:url("./images/saturn.jpg");
  background-size:cover;
}

.jupiterParent::before{
  content:"";
  width: 18%;
  height: 18%;
  position: absolute; 
  right:-8%;
  bottom:35%;
  background-color: rgb(0, 255, 255);
  border-radius:50%;
  z-index:2;
  background-image:url("./images/jupiter.jpeg");
  background-size:cover;
}

.marsParent::before{
  content:"";
  width: 12%;
  height: 12%;
  position: absolute; 
  bottom:-6%;
  left:36%;
  background-color: rgb(0, 255, 255);
  border-radius:50%;
  background-image:url("./images/mars.jpeg");
  background-size:cover;
}

.earthParent::before{
  content:"";
  width: 20%;
  height: 20%;
  position: absolute; 
  right:-13%;
  z-index:1;
  background-color: rgb(0, 255, 255);
  border-radius:50%;
  background-image:url("./images/earth.jpg");
  background-size:cover;
}


.venusParent::before{
  content:"";
  width: 15%;
  height: 15%;
  position: absolute; 
  top:-7%;
  right:38%;
  z-index:1;
  background-color: rgb(0, 255, 255);
  border-radius:50%;
  background-image:url("./images/venus.jpeg");
  background-size:cover;
  background-position-x:-10px;
}

.mercuryParent::before{
  content:"";
  width: 15%;
  height: 15%;
  position: absolute; 
  right:-6%;
  z-index:1;
  background-color: rgb(0, 255, 255);
  border-radius:50%;
  background-image:url("./images/mercury.jpeg");
  background-size:cover;
  background-position-x:-5px;
}



.sun{
  background-image:url("./images/sun.jpeg");
  background-size:135%;
  background-position-x:-15px;
  background-position-y:-15px;
  box-shadow: 0 0 10px 5px rgba(255, 165, 0, 0.7),0 0 100px 40px rgba(255, 140, 0, 0.5); 
}

@keyframes revolve {
  from {
    transform:rotate(0);
  }

  to {
    transform:rotate(-360deg);
  }
}
